RewriteEngine On

# 1. Ocultar la extensión .php en la URL

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# 2. Bloquear el acceso a archivos sensibles

<FilesMatch "^\.|\.(ini|log|conf|sql|bak)$">
Order allow,deny
Deny from all
</FilesMatch>

# 3. Evitar que se listen las carpetas (si no hay index.php)

Options -Indexes
