* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 12vh;
  background-color: white;
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0; /* Define el punto de anclaje */
  z-index: 1000; /* Asegura que quede sobre otros elementos */
}

.header--izquierda {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__logo {
  width: 50px;
}
.header__title {
  font-size: 15px;
  color: #2b388f;
}

.nav__actions {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
}
.nav__icon {
  height: 15px;
}

.nav__link {
  color: white;
  background-color: #2b388f;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

/*SIDEBAR BUSQUEDA DE BUSCAR.PHP*/

#sidebar {
  width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  color: #2b388f;
  height: calc(100vh - 10vh);
  position: fixed;
  top: 10vh;
  left: 0;
  overflow-y: auto;
  gap: 20px;
}
.sidebar__title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2b388f;
  text-transform: uppercase;
}
.title__uno {
  margin: 0;
}
.title__dos {
  font-size: 30px;
}
.form__button {
  width: 160px;
  align-self: center;
  color: #2b388f;
  background-color: white;
  padding: 10px 25px;
  border-style: none;
  box-shadow: 0 0 5px 2px #2b388f;
  border-radius: 3px;
  cursor: pointer;
}
.form__input {
  background-color: #2b388f;
  color: white;
  border-style: none;
  height: 30px;
  border-radius: 3px;
  padding: 5px 10px;
}
.form__input:focus {
  border-style: none;
}
.form--sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
